################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PathDataDisplayer/v15
/PathDataDisplayer/bin/Debug
/PathDataDisplayer/obj/Debug
/PathDataDisplayer.sln.DotSettings
